	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/08/2016 10:33
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon-.eot#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}
.flaticon-angle-pointing-to-left:before { content: "\f100"; }
.flaticon-big-heart:before { content: "\f101"; }
.flaticon-black-circle:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-circle:before { content: "\f104"; }
.flaticon-commerce:before { content: "\f105"; }
.flaticon-dot:before { content: "\f106"; }
.flaticon-earth:before { content: "\f107"; }
.flaticon-earth-1:before { content: "\f108"; }
.flaticon-ellipse:before { content: "\f109"; }
.flaticon-eye-open:before { content: "\f10a"; }
.flaticon-facebook:before { content: "\f10b"; }
.flaticon-facebook-1:before { content: "\f10c"; }
.flaticon-facebook-3:before { content: "\f10d"; }
.flaticon-facebook-letter-logo:before { content: "\f10e"; }
.flaticon-facebook-logo:before { content: "\f10f"; }
.flaticon-facebook-logo-1:before { content: "\f110"; }
.flaticon-facebook-social-symbol:before { content: "\f111"; }
.flaticon-favorite-heart-button:before { content: "\f112"; }
.flaticon-garbage-bin:before { content: "\f113"; }
.flaticon-google-plus:before { content: "\f114"; }
.flaticon-google-plus-logo:before { content: "\f115"; }
.flaticon-google-plus-logo-1:before { content: "\f116"; }
.flaticon-google-plus-logo-2:before { content: "\f117"; }
.flaticon-google-plus-logo-on-black-background:before { content: "\f118"; }
.flaticon-google-plus-social-logotype:before { content: "\f119"; }
.flaticon-google-plus-social-logotype-1:before { content: "\f11a"; }
.flaticon-google-plus-symbol:before { content: "\f11b"; }
.flaticon-interface:before { content: "\f11c"; }
.flaticon-left-angle-bracket:before { content: "\f11d"; }
.flaticon-left-arrow-angle:before { content: "\f11e"; }
.flaticon-like:before { content: "\f11f"; }
.flaticon-linkedin-big-logo:before { content: "\f120"; }
.flaticon-linkedin-logo:before { content: "\f121"; }
.flaticon-linkedin-logo-1:before { content: "\f122"; }
.flaticon-list-with-dots:before { content: "\f123"; }
.flaticon-location:before { content: "\f124"; }
.flaticon-mail-open-symbol-of-an-envelope-with-a-letter-inside:before { content: "\f125"; }
.flaticon-nine-small-boxes:before { content: "\f126"; }
.flaticon-option-list:before { content: "\f127"; }
.flaticon-phone-call:before { content: "\f128"; }
.flaticon-phone-volume:before { content: "\f129"; }
.flaticon-pin:before { content: "\f12a"; }
.flaticon-pin-1:before { content: "\f12b"; }
.flaticon-placeholder:before { content: "\f12c"; }
.flaticon-plain-heart:before { content: "\f12d"; }
.flaticon-refresh-button:before { content: "\f12e"; }
.flaticon-refresh-page-arrow-button:before { content: "\f12f"; }
.flaticon-refresh-page-option:before { content: "\f130"; }
.flaticon-right-arrow-angle:before { content: "\f131"; }
.flaticon-rubbish-bin:before { content: "\f132"; }
.flaticon-shopping-bag:before { content: "\f133"; }
.flaticon-signs:before { content: "\f134"; }
.flaticon-signs-1:before { content: "\f135"; }
.flaticon-silhouette:before { content: "\f136"; }
.flaticon-social-google-plus-square-button:before { content: "\f137"; }
.flaticon-speech-bubbles-comment-option:before { content: "\f138"; }
.flaticon-symbols:before { content: "\f139"; }
.flaticon-twiter:before { content: "\f13a"; }
.flaticon-twitter:before { content: "\f13b"; }
.flaticon-twitter-logo:before { content: "\f13c"; }
.flaticon-twitter-logo-on-black-background:before { content: "\f13d"; }
.flaticon-twitter-logo-silhouette:before { content: "\f13e"; }
.flaticon-valentines-heart:before { content: "\f13f"; }
.flaticon-visible-opened-eye-interface-option:before { content: "\f140"; }
