/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
.mobile-menu-area {
  display: none;
}
.header-middle li {
  margin-right: 0;
}
.header-middle ul li img {
  margin-right: 0;
}
.mainmenu ul#nav > li > a {
  padding: 55px 5px 38px;
}
.cart-area {
  margin-left: 30px;
}
.service-info h4 {
  font-size: 16px;
}
.section-titel {
  width: 40%;
}
.overlay-content > p {
  margin: 85px 0 22px;
}
.img-content {
  top: 15%;
}
.img-content > h3 {
  font-size: 28px;
}
.img-content > h1 {
  font-size: 22px;
}
.comment-area [class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
  margin-left: 13px;
}
.blog-content > h3 a {
  font-size: 16px;
}
.address-area > p {
  padding: 0;
}
.contact-details p {
  padding-right: 25%;
}
.fotbtm-menu ul li a {
  font-size: 12px;
  padding: 0 5px;
}
.nivo-caption .slider-right {
  margin-top: -70px;
  right: 25%;
}
.slide-text h1 {
  font-size: 48px;
}
.pagination-single.one {
  padding-left: 10%;
}
.adress-signal p {
  padding-right: 0%;
}
.carttotal-button > a {
  margin-right: 10px;
}
.shop-tab-area .col-md-3 {
  margin-bottom: 45px;
  width: 25%;
}
.sort-position {
  margin-left: 12px;
}
.shop-tab-area.shop-left .col-md-3 {
  width: 33.3%;
}
.del-tab{display:none;}
.shop-icon {
  margin-bottom: 15px;
}
.shop-tab-area.shop-left .overlay-content > p {
  margin: 75px 0 22px;
}
.full-area img {
  margin-right: 10px;
}
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.mobile-menu-area {
  display: none;
}	
.header-left {
  margin-bottom: 15px;
  text-align: center;
}
.header-middle {
  margin-bottom: 15px;
  text-align: center;
}
.header-right {
  float: none;
  text-align: center;
}
.header-search {
  right: 33%;
}
.logo-area {
  text-align: center;
}
.menu-main-area {
  position: unset;
}
.cart-area {
  margin-left: 0;
  padding: 30px 0;
  text-align: center;
}
.cart-active {
  width: 17%;
  left: 42%;
}
.cart-area a img {
  margin-right: 0;
}
.mainmenu ul#nav > li > a {
  padding: 15px 12px 0;
}
.mainmenu ul#nav li.hot::before {
  top: -17px;
}
.mainmenu ul#nav li .megamenu {
  left: -177px;
}
.mainmenu ul#nav li .megamenu.women {
  left: -242px;
}
.mainmenu > nav > ul#nav > li:hover ul.sub-menu, .mainmenu ul#nav li:hover .megamenu {
  top: 50px;
}
.cart-form {
  right: -40px;
}
.nivo-caption .slider-right {
  margin-top: -100px;
  right: 10%;
}
.slide-text h3 {
  font-size: 32px;
}
.slide-text h1 {
  font-size: 34px;
}
.nivo-controlNav {
  top: 38%;
}
.banner-single-one img, .banner-single-two img {
  width: 100%;
}
.banner-right .banner-single-two, .banner-single-one {
  width: 735px;
}
.banner-single-two {
  margin-bottom: 15px;
  overflow: hidden;
}
.banner-content {
  left: 70%;
  top: 160px;
}
.banner-content-two {
  right: 100px;
  top: 60%;
}
.single-service {
  padding: 12px;
}
.service-info h4 {
  font-size: 14px;
}
.section-titel {
  width: 50%;
}
.specification-area .owl-theme .owl-controls {
  top: 50%;
}
.single-specification:last-child {
  margin-bottom: 0;
}
.home-two .single-specification:last-child {
  margin-bottom: 30px;
}
.home-two .single-specification.right.spcei-mrbtm:first-child {
  margin-top: 50px;
}
.home-two .img-content > h3 {
  font-size: 24px;
}
.home-two .img-content > h1 {
  font-size: 18px;
}
.home-two .img-content, .home-two .img-content.two {
  top: 17%;
}
.single-specification {
  margin-bottom: 30px;
}
.single-area {
  width: 50%;
}
.single-specification > p {
  padding-right: 0;
}
.single-specification.right > p {
  padding-left: 0;
}
.img-content {
  top: 18%;
}
.img-content > a {
  line-height: 45px;
  padding: 8px 10px;
}
.hotdeals-content > h1 {
  font-size: 52px;
}
.cdown.days, .cdown.hour, .cdown.minutes, .cdown.second{margin-right:5px;}
.mbr{
  margin-bottom:25px;
}
 .overlay-content > p {
  margin: 95px 0 22px;
}
.contact-from-right .input-text input, .footertop-area .contact-from-right .input-message textarea {
  width: 230px;
}
.contact-details p, .footer-menu > p, .address-area > p {
  padding: 0;
}
.fotbtm-menu ul li a {
  padding: 0 8px;
}
.footer-bottom-area .footer-btm-img {
  float: none;
  padding: 0 0 27px;
  text-align: center;
}
.breadcrumb-list {
  margin-top: 0;
}
.mb-t{margin-bottom:35px;}
.pagination-single.one {
  padding-left: 0;
}
.pagination-single.two {
  padding-left: 5%;
}
.adress-signal p {
  padding-right: 0%;
}
.carttotal-button > a {
  margin-right: 10px;
}
.order-left-area {
  margin-bottom: 35px;
}
.shop-tab-area .col-md-3 {
  margin-bottom: 45px;
  width: 33.3%;
  float: left;
}
.sort-position {
  margin-left: 40px;
}
.shop-tab-area.shop-left .col-md-3 {
  width: 33.3%;
}
.del-tab{display:none;}
.shop-icon {
  margin-bottom: 10px;
}
.shop-left-sidebar {
  margin-top: 30px;
}
.short-description-block > p:last-child {
  display: none;
}
.attribute-fieldset {
  margin-bottom: 25px;
  margin-top: 25px;
}
.member-img {
  height: 410px;
  width: 100%;
}
.member-img img {
  height: 410px;
  width: 100%;
}
}
/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
 .mobile-menu-area {
  display: block;
}
.mb-t{margin-bottom:35px;}
.header-area {
  background: #282828 none repeat scroll 0 0;
  padding: 7px 0 5px;
}
.header-left > ul > li {
  margin-right: 15px;
}
.header-middle li {
  margin-right: 0;
  margin-bottom: 5px;
}
.header-middle {
  padding: 10px 0;
  text-align: center;
}
.search-area {
  display: none !important;
}
.menu-main-area {
  position: unset;
}
.logo-area {
  text-align: center;
}
.cart-area {
  margin-left: 80px;
  padding-bottom: 35px;
  padding-top: 0;
}
.mainmenu {
  display: none;
}
.nivo-caption .slider-right {
  margin-top: -48px;
  right: -100%;
}
.slide-text h3 {
  font-size: 18px;
}
.slide-text h1 {
  font-size: 18px;
  margin-bottom: 15px;
}
.nivo-caption a {
  font-size: 12px;
  padding: 0 20px;
  line-height: 35px;
}
.nivo-caption p, .nivo-caption {
  display: none;
}
.nivo-controlNav {
  top: 23%;
}
.banner-content {
  top: 55px;
}
.banner-content > h4, .banner-content-two > h4 {
  font-size: 16px;
}
.banner-content h2, .banner-content-two > h2 {
  font-size: 24px;
}
.mb-xs{margin-bottom:25px;}
.service-info h4 {
  font-size: 14px;
}
.section-titel {
  width: 100%;
}
.section-titel::before {
  height: 87px;
}
.single-specification {
  margin-bottom: 50px;
}
.spcei-mrbtm:nth-child(1) {
  margin-top: 0;
}
.mt-xs-speci {
  margin-top: 50px !important;
}
.single-specification.right:last-child {
  margin-bottom: 0;
}
.overlay-content > p {
  margin: 143px 0 22px;
}
.single-area {
  width: 100%;
}
.img-content {
  top: 16%;
}
.img-content > h3 {
  font-size: 26px;
}
.img-content > h1 {
  font-size: 22px;
}
.hotdeals-content > h3 {
  font-size: 20px;
}
.hotdeals-content > h1 {;
  font-size: 32px;
}
.cdown.days, .cdown.hour, .cdown.minutes, .cdown.second{margin-right:5px;}
.cdown{
  margin-top: 12px;
  width:65px;
  height:55px;
  line-height:20px;
  font-size:18px;
}
.hotdeals-content {
  padding: 100px 0;
}
.comment-area [class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
  font-size: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.section-titel > h3 {
  font-size: 22px;
}
.testimonial-area .owl-theme .owl-prev {
  left: -52px;
}
.testimonial-area .owl-theme .owl-controls .owl-buttons div.owl-next {
  margin-right: 6%;
}
.testimonial-area .owl-theme .owl-controls {
  top: 38%;
}
.testimonial-single > p {
  color: #c2c1c1;
  font-family: open sans;
  margin: 0;
  padding: 0;
}
.brand-owl img {
  width: 100%;
}
.newsletter-from > h3 {
  font-size: 16px;
}
.newsletter-from > p, .address-area > p {
  padding: 0 0;
}
.newsletter-from .search-input form input {
  padding: 9px;
  width: 178px;
}
.contact-details p {
  padding-right: 22px;
}
.contact-from-right .input-text input, .footertop-area .contact-from-right .input-message textarea {
  width: 280px;
}
.fotbtm-menu {
  padding-top: 0;
}
.footer-bottom-area .footer-btm-img {
  float: none;
  padding: 0 0 27px;
  text-align: center;
}
.footer-bottom-area p {
  text-align: center;
}
.header-left ul ul {
  left: -23px;
}
.modal-product .product-images {
  float: none;
  width: 100%;
}
.modal-product .product-images .main-image {
  float: none;
  width: 100%;
}
.modal-product .product-images .main-image img {
  width: 100%;
}
.modal-product .product-info {
  float: left;
  padding-left: 0;
  width: 100%;
}
.numbers-row > input {
  float: left;
  margin-right: 20px;
}
.quick-add-to-cart .single_add_to_cart_button {
  margin-left: 0px;
  padding: 0 30px;
}
.home-two .single-area {
  width: 100%;
}
.home-two .img-content {
  top: 15%;
}
.img-content > h3 {
  font-size: 22px;
}
.img-content > h1 {
  font-size: 15px;
}
.img-content > a {
  line-height: 30px;
  padding: 8px;
}
.error-content {
  width: 100%;
}
.breadcrumb-list {
  margin-top: 0;
}
.input-element p {
  float: none;
  width: 100%;
}
.pagination-single {
  float: none;
  margin-bottom: 35px;
  width: 100%;
}
.pagination-single.one, .pagination-single.two {
  padding-left: 0;
}
.country-select label, .checkout-form-list label {
  font-size: 13px;
}
.pagination-single > h1 {
  font-size: 15px;
}
.adress-signal p {
  padding-right: 0%;
  font-size: 14px;
}
.carttotal-button > a {
  margin-right: 10px;
  margin-bottom: 15px;
}
.order-left-area {
  margin-bottom: 35px;
}
.shop-tab-pill ul.paginations, .show-label {
  display: none;
}
.sort-position {
  margin-left: 0;
  margin-right: 0;
}
.shop-tab-area .col-md-3 {
  margin-bottom: 45px;
  width: 100%;
}
.single-product-list .product-img > img {
  float: none;
  height: auto;
  width: 100%;
}
.single-pro-content .list-pro-price {
  display: none;
}
.single-pro-content.fix > p {
  padding-right: 20px;
}
.shop-icon {
  margin-bottom: 20px;
  text-align: center;
}
.shop-tab-area.shop-left .col-md-3 {
  width: 100%;
}
.shop-tab-area.shop-left .overlay-content > p {
  margin: 145px 0 22px;
}
.shop-left-sidebar {
  margin-top: 30px;
}
.full-area {
  width: 410px;
}
.price > span {
  display: block;
  overflow: hidden;
  width: 200px;
}
.total > span {
  display: block;
  margin-top: 15px;
  overflow: hidden;
  width: 130px;
}
.total > a {
  display: none;
}
.short-description-block > p:last-child {
  display: none;
}
.attribute-fieldset {
  margin-bottom: 25px;
  margin-top: 25px;
}
.attribute-fieldset:first-child {
  margin-bottom: 0;
}
.shop-icon {
  text-align: left;
}
.more-info-tab li a {
  font-size: 12px;
  padding: 0 15px;
}
span.usefull-comment span {
  display: block;
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 5px;
}
.member-img img {
  width: 100%;
  height: auto;
}
.member-info {
  text-align: center;
}
.story-right {
  margin-top: 25px;
}
.skill-area {
  margin-top: 30px;
}
.our-team-area {
  padding: 0px 0 69px;
}
.member-img {
  height: auto;
  width: 100%;
}
}
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 .header-left {
  text-align: center;
}
.header-middle li {
  margin-bottom: 5px;
  margin-right: 15px;
}
.header-right {
  float: none;
  text-align: center;
}
.cart-area {
  margin-left: 161px;
}
.cart-form {
  right: 95px;
}
.nivo-caption .slider-right {
  right: -56%;
}
.nivo-caption a {
  line-height: 31px;
  padding: 0 10px;
  margin-top: -65px;
}
.service-info h4 {
  font-size: 18px;
}
.overlay-content > p {
  margin: 41px 0 22px;
}
.img-content {
  top: 25%;
}
.hotdeals-content {
  padding: 170px 0 210px;
}
.contact-details p {
  padding-right: 155px;
}
.home-two .img-content {
  top: 23%;
}
.img-content > h3 {
  font-size: 30px;
}
.img-content > a {
  line-height: 70px;
  padding: 8px 15px;
}
.img-content > h1 {
  font-size: 28px;
}
.hotdeals-content {
  margin-left: 40px;
}
.overlay-content > p {
  margin: 170px 0 22px;
}
.sort-position {
  margin-left: 140px;
}
.shop-tab-area.shop-left .col-md-3 {
  width: 50%;
  float: left;
}
.shop-tab-area.shop-left .overlay-content > p {
  margin: 34px 0 22px;
}
.member-img {
  height: auto;
  width: 100%;
}
.member-img img {
  height: auto;
  width: 100%;
}
}